<% include ./partials/header %>

<% blogs.forEach((blog) => { %>
  <div class="mt">
      <h2><%= blog.title %></h2>
      <img src="<%= blog.image %>" alt="image">
      <p><%= blog.created %></p>
      <p><%= blog.body %></p>
  </div>
<% }) %>

<% include ./partials/footer %>